{% extends "mainpage.html" %}
{% block content %}

    
                <form method="post">
                    <div class="">
                        <h2>Editing {{item.name}}</h2>
						
                        <label for="name" class="description">Title1:</label>
                        <input type="text" maxlength="50"  id="name" name="name"
                               value="{{item.name}}">
                        <br>
                        <label for="description">Description:</label>
                        <textarea  maxlength="1000" rows="5" id="description" name="description">
                            {{item.description}}
                        </textarea>
                        <br>
                        <label for="category">Category:</label>
                        <select id="category" name="category">
                            {% for category in categories %}
                                {% if category.name == editingItemCategory.name %}
                                    <option selected>{{category.name}}</option>
                                {% else %}
                                    <option>{{category.name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <br>
                        <button type="submit" >
							Save
                        </button>
                        <a href="#">
                          
                                Cancel
                          
                        </a>
                    </div>
                </form>
          

{% endblock %}