{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

    <div class="jumbotron">
        <div class="row">
            
            <div class="col-md-9">
                <form method="post">
                    
                    <a href="{{url_for('showItem', category_name=item.category.name, item_name=item.name)}}">
                        <button type="button" class="btn btn-default">Cancel</button>
                    </a>
                </form>
            </div>
        </div>
    </div>

{% endblock %}