{% extends "mainpage.html" %}
{% block content %}

    <div class="row">
       
        <div class="col-md-9">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="no-margin">{{chosenCategory.name}}</h2>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="{{url_for('editCategory', category_name=chosenCategory.name)}}">Edit |</a>
                        <a href="{{url_for('deleteCategory', category_name=chosenCategory.name)}}">Delete</a>
                    </div>
                </div>
                <hr>
				
		
					
               
            </div>
        </div>
    </div>

{% endblock %}